<Binbin.ImageUpload.Properties.Settings>
  <setting name="ApiHostUrl" serializeAs="String">
    <value>http://imageupload.binbinsoft.com/Upload.ashx</value>
  </setting>
  <setting name="MerchantId" serializeAs="String">
    <value>binbinsoft</value>
  </setting>
  <setting name="AppId" serializeAs="String">
    <value>smaple</value>
  </setting>
</Binbin.ImageUpload.Properties.Settings>