<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xiaonei.api" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings/>

  <connectionStrings/>

  <xiaonei.api>
    <add key="api_key" value="f43e53c7721640ffb7c6eb4bf481bdf3"/>
    <add key="secret" value="d9f1fa16da88400ebc9d414dc16c5155"/>
  </xiaonei.api>
</configuration>