<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xiaonei.api" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings/>

  <connectionStrings/>

  <xiaonei.api>
    <add key="api_key" value="d82e3e4da84e4b48b6f2d738afcb29b7"/>
    <add key="secret" value="03fd5ad9c3a4438db3e3f069237af768"/>
  </xiaonei.api>
</configuration>