<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BinbinTopAuth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BinbinTopAuth.Properties.Settings>
            <setting name="AppKey" serializeAs="String">
                <value>12340497</value>
            </setting>
            <setting name="UseSandbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReturnUrl" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="TokenReturnUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Secret" serializeAs="String">
                <value />
            </setting>
        </BinbinTopAuth.Properties.Settings>
    </applicationSettings>
</configuration>