<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishUrl>E:\publish\Ymatou\com.ymatou.nuget</PublishUrl>
    <ReplaceMatchingFiles>True</ReplaceMatchingFiles>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Elmah.dll">
      <PublishTime>12/28/2011 13:41:57</PublishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <PublishTime>12/28/2011 13:41:57</PublishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <PublishTime>12/28/2011 13:41:57</PublishTime>
    </File>
    <File Include="bin/Ninject.pdb">
      <PublishTime>12/28/2011 13:41:57</PublishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <PublishTime>12/28/2011 13:41:57</PublishTime>
    </File>
    <File Include="bin/NuGet.Core.dll">
      <PublishTime>12/28/2011 13:41:57</PublishTime>
    </File>
    <File Include="bin/NuGet.Server.dll">
      <PublishTime>12/28/2011 13:41:58</PublishTime>
    </File>
    <File Include="bin/RouteMagic.dll">
      <PublishTime>12/28/2011 13:41:57</PublishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <PublishTime>12/28/2011 13:41:57</PublishTime>
    </File>
    <File Include="bin/YmatouNugetWebApplication.dll">
      <PublishTime>12/28/2011 13:45:56</PublishTime>
    </File>
    <File Include="bin/YmatouNugetWebApplication.pdb">
      <PublishTime>12/28/2011 13:45:56</PublishTime>
    </File>
    <File Include="DataServices/Packages.svc">
      <PublishTime>12/28/2011 13:42:32</PublishTime>
    </File>
    <File Include="Default.aspx">
      <PublishTime>12/28/2011 13:42:11</PublishTime>
    </File>
    <File Include="favicon.ico">
      <PublishTime>12/28/2011 13:42:11</PublishTime>
    </File>
    <File Include="packages.config">
      <PublishTime>12/28/2011 13:42:33</PublishTime>
    </File>
    <File Include="Packages/Readme.txt">
      <PublishTime>12/28/2011 13:42:11</PublishTime>
    </File>
    <File Include="Web.config">
      <PublishTime>12/28/2011 13:45:57</PublishTime>
    </File>
  </ItemGroup>
</Project>